{% extends 'PGapp/Main_Logic/base.html' %}


{% block content %}
	{% for msg in messages %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Congratulations!</strong>&nbsp;{{ msg }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
		</button>
		</div>
	{% endfor %}
	{% if rubric_source %}
		{% for element in rubric_source %}
			<div class="middle_div"  style="background-color: #212529;">
				<hr>
				<h3 class="middle_h_white">{{ element.name }}</h3>
				<p class="middle_p_white">{{ element.description }}</p>
				<p class="middle_p_white">{{ element.tags }}</p>
				<div class="middle_div_buttons">
					<a href="{% url 'PGapp:edit_rubric' element.id %}"
					   class="btn btn-light">Edit</a>
					<a href="{% url 'PGapp:confirm_delete_rubric' element.id %}"
					   class="btn btn-light">Delete</a>
				</div>
				<hr>
			</div>
		{% endfor %}
	{% else %}
		<p>Nothing is here</p>
	{% endif %}
{% endblock %}
