{% extends 'PGapp/Main_Logic/base.html' %}


{% block content %}
	{% for msg in messages %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Congratulations!</strong>&nbsp;{{ msg }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
	{% if hotel_room_source %}
		{% for element in hotel_room_source %}
			<div class="middle_div_rooms" style="background-color: #212529;">
				<hr>
				<form method="post" enctype="multipart/form-data">
					{% if element.picture_thumbnail %}
						<img src="{{ element.picture_thumbnail.url }}" class="middle_image">
					{% endif %}
					<div class="middle_div">
						<a href="{% url 'PGapp:room_full_view' element.id %}" class="btn btn-outline-light">
							<p class="middle_p">{{ element.title }}</p></a></div>
					<p class="middle_p_white">{{ element.price }}$ / day</p>
					<p class="middle_p_white">{{ element.description }}</p>
					<div class="middle_div_buttons">
						<a href="{% url 'PGapp:edit_hotel_room' element.id %}"
						   class="btn btn-light">Edit</a>
						<a href="{% url 'PGapp:confirm_delete_hotel_room' element.id %}"
						   class="btn btn-light">Delete</a>
					<hr>
					</div>
				</form>
			</div>
			</br>
		{% endfor %}
	{% else %}
		<p>Nothing is here</p>
	{% endif %}
	<div class="middle_div_paginator">
		{% if page.has_previous %}
			<a href="?page={{ page.previous_page_number }}">&lt;</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{% endif %}
		Page №{{ page.number }} of {{ page.paginator.num_pages }}
		{% if page.has_next %}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="?page={{ page.next_page_number }}">&gt;</a>
		{% endif %}
	</div>
{% endblock %}
