{% extends 'PGapp/Main_Logic/base.html' %}


{% block content %}
	{% if hotel_room_source %}
		<div class="w-25 p-3" style="background-color: #9EC4DB;">
			<form method="post" enctype="multipart/form-data">
				{% if hotel_room_source.picture %}
					<img src="{{ hotel_room_source.picture.url }}">
				{% endif %}
				<p>{{ hotel_room_source.title }}</p>
				<p>{{ hotel_room_source.price }}</p>
				<p>{{ hotel_room_source.description }}</p>
			</form>
		</div>
		</br>
	{% else %}
		<p>Nothing is here</p>
	{% endif %}
	<div>
		{% if page.has_previous %}
			<a href="?page={{ page.previous_page_number }}">&lt;</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
		{% endif %}
		Page №{{ page.number }} of {{ page.paginator.num_pages }}
		{% if page.has_next %}
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="?page={{ page.next_page_number }}">&gt;</a>
		{% endif %}
	</div>
{% endblock %}
