{% extends 'PGapp/Main_Logic/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
	{% if form.is_multipart %}
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{% if form.non_field_errors %}
				<ul>
					{% for error in form.non_field_errors %}
					<li><em>{{ error|escape }}</em></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% for field in form.visible_fields %}
				{% if field.errors %}
					<ul>
						{% for error in field.errors %}
							<li><em>{{ error|escape }}</em></li>
						{% endfor %}
					</ul>
				{% endif %}
				<p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>
			{% endfor %}
			<button type="submit" class="btn btn-success">Add</button>
			<a href="{% url 'PGapp:room_reserving' %}" class="button">Cancel</a>
		</form>
	{% else %}
		<form method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
			<ul>
				{% for error in form.non_field_errors %}
				<li><em>{{ error|escape }}</em></li>
				{% endfor %}
			</ul>
		{% endif %}
		{% for field in form.visible_fields %}
			{% if field.errors %}
				<ul>
					{% for error in field.errors %}
						<li><em>{{ error|escape }}</em></li>
					{% endfor %}
				</ul>
			{% endif %}
			<p>{{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}</p>
		{% endfor %}
		<button type="submit" class="btn btn-success">Add</button>
		<a href="{% url 'PGapp:room_reserving' %}" class="button">Cancel</a>
		</form>
	{% endif %}
{% endblock %}